.wrapper-content {
    padding: 10px 10px 25px;
}
.clear{
	clear: both;
	overflow: inherit;
}
.label {
    padding: 3px 5px;
}
.profile-element{
	text-align: center;
}
.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 10px 5px 5px 20px;
    font-size: 14px;
    float: left;
}
.table-responsive {
    min-height: .01%;
    overflow-x: visible !important;
}
.map-picker{
    float: right;
    font-size: 13px;
    margin-bottom: -25px !important;
    z-index: 99;
    position: relative;
}
/*Navbar*/
.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 15px;
}
.nav > li > a i {
    min-width: 16px;
}
.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #24323E;
}
.nav-second-level li a {
    padding: 10px 10px 10px 10px;
    padding-left: 37px;
}
.metismenu .nav-second-level .arrow {
    margin-right: 10px;
}
.nav-second-level>li .nav-third-level {
    border-top: 1px solid #3F566B;
    border-bottom: 1px solid #3F566B;
}
.nav-second-level:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 46px;
    bottom: 19px;
    border-left: 1px solid #3F566B;
}
.nav-third-level,
.nav-fourth-level {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #35495B;
    z-index: 123;
}
.nav-second-level > li{
	background-color: #35495B;
}
.nav-second-level li:last-child {
    margin-bottom: 0;
}
.nav-second-level>li>a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 18px;
    top: 17px;
    background-color: #fff;
    border: 1px solid #a7b1c2;
    z-index: 2;
}
ul.nav-fourth-level{
	float: none;
}
ul.nav-third-level:before,
ul.nav-fourth-level:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #3F566B;
}
ul.nav-third-level li.active,
ul.nav-fourth-level li.active{
	border-left: 0;
}
ul.nav-third-level li a,
ul.nav-fourth-level li a {
    padding: 10px 10px 10px 10px;
    padding-left: 37px;
}
ul.nav-third-level>li>a:before,
ul.nav-fourth-level>li>a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 18px;
    top: 17px;
    background-color: #fff;
    border: 1px solid #a7b1c2;
    z-index: 2;
}
.navbar .dropdown-menu {
	min-width: 120px;
    border-radius: 0;
    box-shadow: 0 0 1px rgba(86, 96, 117, 0.7);
    left: inherit;
    right: 0;
}
.navbar .dropdown-menu > li > a {
    border-radius: 0;
    padding: 2px 10px;
}
.dropdown-menu {
    left: inherit;
    right: 0;
    border-radius: 0;
    min-width: 120px;
}
.dropdown-menu > li > a{
	margin:0;
}
.dropup .dropdown-menu{
    left: 0;
    right: auto;
}
.form-control, .single-line {
    padding: 4px 12px;
}
.form-title {
    width: 100%;
    background-color: #eee;
    border: 1px solid #e5e6e7;
    font-size: 14px;
    padding: 4px 12px;
    margin-top: 10px;
}
.form-title-sidebar {
    width: auto !important;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.input-sm,
select.input-sm {
    height: 34px;
    font-size: 13px;
    line-height:auto;
}
select.form-control {
    padding: 0px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn {
    border-radius: 0;
}
.btn-sm {
    height: 34px;
    padding-top: 6px;
    margin-top: -0.5px;}
.btn-small {
    height: auto;
    padding-top: 5px;
}
.dropdown-archive{
	padding: 3px 3px 0 3px;
}
.dropdown-archive button{
	width: 100%;
	margin-bottom: 3px !important;
	text-align: left;
}
.float-e-margins .btn {
        margin-bottom: 0;
    z-index: 999;
    position: relative;
}
.select_parent{
	display: none !important;
}
.select2.select2-container.select2-container--default{
	width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 34px;
    border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0px;
}
.report_pilot .help-block{
    display: none;
}
.report_pilot.has-error .select2-container--default .select2-selection--single{
   border: 1px dotted #cc5965;
}
/*Navigation*/
.nav-count{
    float: left;
    padding: 6px 10px 0 0;
}
/*Table*/
.table {
    margin-bottom: 0;
}
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px 0;
    vertical-align: top;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px 8px 4px;
    vertical-align: top;
}
.table > tbody > tr > td.sub{
	padding: 4px 0 4px;
}
.table > tbody > tr > td.sub th{
	padding: 4px 8px 8px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0;
    border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*Post*/
.ibox-title {
    padding: 7px 15px 7px;
    min-height: 50px;
}
.ibox-title h5 {
    font-size: 14px;
    margin: 10px 0 7px;
}
.ibox-title-detail {
    color: inherit;
    margin-bottom: 15px;
    padding: 15px 15px 15px 0;
    min-height: 48px;
}
.ibox-title-detail h5 {
    font-size: 14px;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    text-overflow: ellipsis;
}
.ibox-title-sidebar {
    color: inherit;
    margin-bottom:0;
    padding: 15px 15px 7px 10px;
    min-height: 48px;
}
.ibox-title-sidebar h5 {
    font-size: 14px;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    text-overflow: ellipsis;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-tools {
    margin-top: 7px;
}
.ibox-border-top-1{
    border-top: 1px solid #e7eaec;
}
.ibox-border-bottom-1{
    border-bottom: 1px solid #e7eaec;
}
.bar-title{
	border-top: 2px solid #e7eaec;
}
.form-group label {
    margin-bottom: 5px;
    font-weight: 400;
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
    margin: 0;
    text-transform: capitalize;
}
.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px;
    left: 0px;
    opacity: 1;
    margin-left: 10px;
    margin-top: 5px;
    text-transform: capitalize;
}
.multiselect-container>li>a>label {
    padding: 4px 10px 4px 35px;
}
.multiselect-container > li > a {
    border-radius: 0;
    color: inherit;
    line-height: 25px;
    margin: 1px 4px;
    text-align: left;
    font-weight: normal;
}
.multi_select .btn-group > .btn:first-child {
    padding-top: 6px;
    padding-bottom: 6px;
}
/*Tab*/
.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
  width: 18%;
}
.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 0;
    margin-top: 10px;
}
.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tabs-container .tabs-left > .nav-tabs > li > a, 
.tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 40px;
    width: 40px;
    margin-bottom: 0;
}
.tabs-container.year .tabs-left>.nav-tabs>li>a,
.tabs-container.year .tabs-right>.nav-tabs>li>a {
	min-width: 56px !important;
	width: 56px !important;
	margin-bottom: 0;
}
.tabs-container .nav-tabs > li > a {
    padding: 8px 12px 8px 14px;
}
.tabs-container .nav-tabs > li.active > a {
    padding: 8px 12px 8px 12px;
}
.tabs-container .nav > li.active {
    border-left: 2px solid #19aa8d;
    background:none;
}
.tabs-container .nav-tabs > li.active > a{
	color:#19aa8d;
}
.tabs-container .nav-tabs > li.active > a, 
.tabs-container .nav-tabs > li.active > a:hover, 
.tabs-container .nav-tabs > li.active > a:focus,
.tabs-container .tabs-left > .nav-tabs .active > a{
	border-top: 0;
	background: #e5e6e7;
}
.tabs-container .nav > li > a i {
    margin-right: 0;
}
.tabs-container .tabs-left .panel-body {
    width: 94% !important;
    margin-left: 6% !important;
}
.tabs-container.year .tabs-left>.nav-tabs{
    width: 7%;
}
.tabs-container.year .tabs-left .panel-body {
	width: 83%;
	margin-left: 17%;
}
.tabs-container .tabs-left .tab-pane .panel-body, .tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 0;
}
.tabs-container .panel-body {
    background: #fff;
    border: 0;
    border-radius: 2px;
    padding: 10px 0 10px 10px;
}
.nav-tabs>li>a {
    border-radius: 0;
}
.elements-list .list-group-item {
    border-left: none;
    border-right: none;
    padding: 10px 20px;
}
/*Summer Note*/
.panel-heading.note-toolbar .btn-group .note-table {
    min-width: 102px;
    padding: 5px;
}
/*Modal*/
.modal-body #map-canvas {
    width: 568px !important;
}
.modal-body {
    padding: 15px;
}
.report_pilot .select2-container {
    z-index: 999;
}
.select2-container {
    z-index: 9999;
}
.select2-results ul.select2-results__options li {
    cursor: pointer !important;
    padding: 7px 7px 7px 20px !important;
    list-style-type: none !important;
    margin-left: 0px !important;
}
/*List*/
ul.select2-results__options{
	margin: 10px 0 0;
}
ul.select2-results__options li{
	cursor: pointer;
	padding: 5px;
	list-style-type: circle;
	margin-left: 20px;
}
ul.select2-results__options li:hover{
	background: #389fc7;
	padding: 5px;
}
/*Gallery*/
ul.gallery {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
ul.gallery .check {
    width: 100%;
    text-align: left;
    clear: both;
    margin-bottom: 5px;
}
ul.gallery li {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}
ul.gallery li.img {
    width: 33.33333333333333%;
    height: 70px;
    float: left;
}
ul.gallery li.img label {
    position: absolute;
    bottom: 0;
    right: 2px;
    z-index: 999;
}
ul.gallery li.button {
    width: 100%;
    padding: 10px 0 0;
}
ul.gallery li.btn-images {
    width: 100%;
    clear: both;
    padding: 5px 0 0;
}
ul.gallery li.btn-images .navbar-left {
    margin-left: 1px;
}
ul.gallery li.btn-images .navbar-right {
    margin-right: 1px;
}
ul.gallery li img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
/*File Type*/
ul.file_type {
    margin: 10px 0 0;
    padding: 0;
}
ul.file_type li.check {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #eee;
}

ul.file_type li {
    display: block;
    float: left;
    width: 100%;
    padding: 5px 0;
}

ul.file_type .btn-files {
    width: 100%;
    padding: 5px 0 5px;
}

ul.file_type li .dropdown-menu li {
    padding: 0;
}

ul.file_type li.line {
    border-bottom: 1px solid #eee;
}

ul.file_type li.line label {
    margin-right: 15px;
}

ul.file_type li.line .ft {
    margin-right: 5px;
}

.ft {
    background-image: url(../img/mimetypes/mimetypes.png);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
}

.ft-aac {background-position: -5px -5px;}
.ft-ai {background-position: -31px -5px;}
.ft-aiff {background-position: -57px -5px;}
.ft-avi {background-position: -83px -5px;}

.ft-bmp {
    background-position: -109px -5px;
}

.ft-c {
    background-position: -135px -5px;
}

.ft-cpp {
    background-position: -161px -5px;
}

.ft-css {
    background-position: -187px -5px;
}

.ft-csv {
    background-position: -5px -31px;
}

.ft-dat {
    background-position: -31px -31px;
}

.ft-dmg {
    background-position: -57px -31px;
}

.ft-doc {
    background-position: -83px -31px;
}

.ft-docx {
    background-position: -109px -31px;
}

.ft-dotx {
    background-position: -135px -31px;
}

.ft-dwg {
    background-position: -161px -31px;
}

.ft-dxf {
    background-position: -187px -31px;
}

.ft-eps {
    background-position: -5px -57px;
}

.ft-exe {
    background-position: -31px -57px;
}

.ft-files {
    background-position: -57px -57px;
}

.ft-fla {
    background-position: -83px -57px;
}

.ft-flv {
    background-position: -109px -57px;
}

.ft-gif {
    background-position: -135px -57px;
}

.ft-h {
    background-position: -161px -57px;
}

.ft-hpp {
    background-position: -187px -57px;
}

.ft-html {
    background-position: -5px -83px;
}

.ft-ics {
    background-position: -31px -83px;
}

.ft-image {
    background-position: -57px -83px;
}

.ft-iso {
    background-position: -83px -83px;
}

.ft-jar {
    background-position: -109px -83px;
}

.ft-java {
    background-position: -135px -83px;
}

.ft-jpg {
    background-position: -161px -83px;
}

.ft-js {
    background-position: -187px -83px;
}

.ft-key {
    background-position: -5px -109px;
}

.ft-less {
    background-position: -31px -109px;
}

.ft-mdb {
    background-position: -57px -109px;
}

.ft-mid {
    background-position: -83px -109px;
}

.ft-mp3 {
    background-position: -109px -109px;
}

.ft-mp4 {
    background-position: -135px -109px;
}

.ft-mpg {
    background-position: -161px -109px;
}

.ft-odf {
    background-position: -187px -109px;
}

.ft-ods {
    background-position: -5px -135px;
}

.ft-odt {
    background-position: -31px -135px;
}

.ft-otp {
    background-position: -57px -135px;
}

.ft-ots {
    background-position: -83px -135px;
}

.ft-ott {
    background-position: -109px -135px;
}

.ft-pdf {
    background-position: -135px -135px;
}
.ft-pdf_ {
    background-position: -161px -135px;
}
.ft-photos {
    background-position: -187px -135px;
}
.ft-php {
    background-position: -5px -161px;
}
.ft-png {
    background-position: -31px -161px;
}
.ft-ppt {
    background-position: -57px -161px;
}
.ft-pptx {
    background-position: -83px -161px;
}
.ft-psd {
    background-position: -109px -161px;
}
.ft-py {
    background-position: -135px -161px;
}
.ft-qt {
    background-position: -161px -161px;
}
.ft-rar {
    background-position: -187px -161px;
}
.ft-rb {
    background-position: -5px -187px;
}
.ft-rtf {
    background-position: -31px -187px;
}
.ft-sass {
    background-position: -57px -187px;
}
.ft-scss {
    background-position: -83px -187px;
}
.ft-sql {
    background-position: -109px -187px;
}
.ft-swf {
    background-position: -135px -187px;
}
.ft-tga {
    background-position: -161px -187px;
}
.ft-tgz {
    background-position: -187px -187px;
}
.ft-tiff {
    background-position: -213px -5px;
}
.ft-txt {
    background-position: -213px -31px;
}
.ft-wav {
    background-position: -213px -57px;
}
.ft-xls {
    background-position: -213px -83px;
}
.ft-xlsx {
    background-position: -213px -109px;
}
.ft-xml {
    background-position: -213px -135px;
}
.ft-yml {
    background-position: -213px -161px;
}
.ft-zip {
    background-position: -213px -187px;
}

/**
 * Nestable
 */

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists {
    display: block;
    clear: both;
    padding: 5px 0 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
}

#nestable-menu {
    padding: 0;
    margin: 10px 0 0px;
}

#nestable-output,
#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #bbb;
}

#nestable2 .dd-item > button:before {
    color: #fff;
}

/*Tab*/
.tabs-container.tab-report-outlet .nav-tabs > li a{
    margin-right: 0;
}
.tabs-container.tab-report-outlet .nav-tabs > li {
    width: 50%;
    text-align: center;
    float: left;
    margin-bottom: -1px;
}
.tabs-container.tab-report-outlet .tab-pane .panel-body{
    padding-left: 0;
    padding-right: 0;
}

.html5buttons a {
    padding: 8px 8px 7px;
}

@media only screen and (min-width: 700px) {

    .dd {
        float: left;
        width: 100%;
    }

    .dd + .dd {
        margin-left: 2%;
    }
}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background-image: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

#load {
    height: 100%;
    width: 100%;
}

#load {
    position: fixed;
    z-index: 99;
 /* or higher if necessary */
    top: 0;
    left: 0;
    overflow: hidden;
    text-indent: 100%;
    font-size: 0;
    opacity: 0.6;
    background: #E0E0E0  url('../img/index.messenger-typing-preloader.svg') center no-repeat;
}

.del-button {
    cursor: pointer;
    text-decoration: none;
}

.edit-button {
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}
.span-right {
    float: right;
}
/*#region CheckBox and RadioBox*/
input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

input[type=checkbox].inverted:checked ~ .text:before,
input[type=radio].inverted:checked ~ .text:before {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

input[type=checkbox].colored-white ~ .text,
input[type=radio].colored-white ~ .text {
    color: #ffffff;
}

input[type=checkbox].colored-white ~ .text:before,
input[type=radio].colored-white ~ .text:before {
    border-color: #fafafa;
}

input[type=checkbox].colored-white:checked ~ .text,
input[type=radio].colored-white:checked ~ .text {
    color: #ffffff;
}

input[type=checkbox].colored-green:checked ~ .text,
input[type=radio].colored-green:checked ~ .text {
    color: #1ab394;
}

input[type=checkbox].colored-white:checked ~ .text:before,
input[type=radio].colored-white:checked ~ .text:before {
    border-color: #333333;
    color: #333333;
}

input[type=checkbox].colored-blue:checked ~ .text,
input[type=radio].colored-blue:checked ~ .text {
    color: #5db2ff;
}

input[type=checkbox].colored-blue:checked ~ .text:before,
input[type=radio].colored-blue:checked ~ .text:before {
    border-color: #5db2ff;
    color: #5db2ff;
}

input[type=checkbox].colored-primary:checked ~ .text,
input[type=radio].colored-primary:checked ~ .text {
    color: #4374e0;
}

input[type=checkbox].colored-primary:checked ~ .text:before,
input[type=radio].colored-primary:checked ~ .text:before {
    border-color: #4374e0;
    color: #4374e0;
}

input[type=checkbox].colored-danger:checked ~ .text,
input[type=radio].colored-danger:checked ~ .text {
    color: #d73d32;
}

input[type=checkbox].colored-danger:checked ~ .text:before,
input[type=radio].colored-danger:checked ~ .text:before {
    border-color: #d73d32;
    color: #d73d32;
}

input[type=checkbox].colored-success:checked ~ .text,
input[type=radio].colored-success:checked ~ .text {
    color: #53a93f;
}

input[type=checkbox].colored-success:checked ~ .text:before,
input[type=radio].colored-success:checked ~ .text:before {
    border-color: #53a93f;
    color: #53a93f;
}

input[type=checkbox].colored-warning:checked ~ .text,
input[type=radio].colored-warning:checked ~ .text {
    color: #f4b400;
}

input[type=checkbox].colored-warning:checked ~ .text:before,
input[type=radio].colored-warning:checked ~ .text:before {
    border-color: #f4b400;
    color: #f4b400;
}

input[type=checkbox].colored-silver:checked ~ .text,
input[type=radio].colored-silver:checked ~ .text {
    color: #777777;
}

input[type=checkbox].colored-silver:checked ~ .text:before,
input[type=radio].colored-silver:checked ~ .text:before {
    border-color: #777777;
    color: #777777;
}

input[type=checkbox].colored-blueberry:checked ~ .text,
input[type=radio].colored-blueberry:checked ~ .text {
    color: #6f85bf;
}

input[type=checkbox].colored-blueberry:checked ~ .text:before,
input[type=radio].colored-blueberry:checked ~ .text:before {
    border-color: #6f85bf;
    color: #6f85bf;
}

input[type=checkbox].colored-palegreen:checked ~ .text,
input[type=radio].colored-palegreen:checked ~ .text {
    color: #a0d468;
}

input[type=checkbox].colored-palegreen:checked ~ .text:before,
input[type=radio].colored-palegreen:checked ~ .text:before {
    border-color: #a0d468;
    color: #a0d468;
}

input[type=checkbox].colored-orange:checked ~ .text,
input[type=radio].colored-orange:checked ~ .text {
    color: #fb6e52;
}

input[type=checkbox].colored-orange:checked ~ .text:before,
input[type=radio].colored-orange:checked ~ .text:before {
    border-color: #fb6e52;
    color: #fb6e52;
}

input[type=checkbox].colored-darkorange:checked ~ .text,
input[type=radio].colored-darkorange:checked ~ .text {
    color: #ed4e2a;
}

input[type=checkbox].colored-darkorange:checked ~ .text:before,
input[type=radio].colored-darkorange:checked ~ .text:before {
    border-color: #ed4e2a;
    color: #ed4e2a;
}

input[type=checkbox].colored-magenta:checked ~ .text,
input[type=radio].colored-magenta:checked ~ .text {
    color: #bc5679;
}

input[type=checkbox].colored-magenta:checked ~ .text:before,
input[type=radio].colored-magenta:checked ~ .text:before {
    border-color: #bc5679;
    color: #bc5679;
}

input[type=checkbox].colored-purple:checked ~ .text,
input[type=radio].colored-purple:checked ~ .text {
    color: #7e3794;
}

input[type=checkbox].colored-purple:checked ~ .text:before,
input[type=radio].colored-purple:checked ~ .text:before {
    border-color: #7e3794;
    color: #7e3794;
}

input[type=checkbox].colored-maroon:checked ~ .text,
input[type=radio].colored-maroon:checked ~ .text {
    color: #981b48;
}

input[type=checkbox].colored-maroon:checked ~ .text:before,
input[type=radio].colored-maroon:checked ~ .text:before {
    border-color: #981b48;
    color: #981b48;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none !important;
}

input[type=checkbox]:checked ~ .text:before,
input[type=radio]:checked ~ .text:before {
    display: inline-block;
    content: '\f00c';
    background-color: #f5f8fc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    border-color: #1ab394;
}

input[type=checkbox]:hover ~ .text :before,
input[type=radio]:hover ~ .text :before {
    border-color: #737373;
}

input[type=checkbox]:active ~ .text :before,
input[type=radio]:active ~ .text :before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:disabled ~ .text,
input[type=radio]:disabled ~ .text,
input[type=checkbox][disabled] ~ .text,
input[type=radio][disabled] ~ .text,
input[type=checkbox].disabled ~ .text,
input[type=radio].disabled ~ .text {
    color: rgba(0, 0, 0, 0.4);
}

input[type=checkbox]:disabled ~ .text:before,
input[type=radio]:disabled ~ .text:before,
input[type=checkbox][disabled] ~ .text:before,
input[type=radio][disabled] ~ .text:before,
input[type=checkbox].disabled ~ .text:before,
input[type=radio].disabled ~ .text:before {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #e5e5e5;
}

input[type=checkbox] ~ .text,
input[type=radio] ~ .text {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal;
}

input[type=checkbox] ~ .text:before,
input[type=radio] ~ .text:before {
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #1ab394;
    content: "\a0";
    background-color: #fafafa;
    border: 1px solid #1ab394;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 0;
    margin-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type=checkbox] ~ .text:hover:before,
input[type=radio] ~ .text:hover:before {
    border-color: #737373;
}

input[type=checkbox] ~ .text:active:before,
input[type=radio] ~ .text:active:before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=radio] ~ .text:before {
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    line-height: 17px;
    height: 19px;
    min-width: 19px;
}

input[type=radio]:checked ~ .text:before {
    content: "\f111";
}
.input-group-addon:first-child {
    border-right: 0;
    height: 34.2px;
}
.input-group-addon.input-sm{
    border-right: 0;
    border-radius: 0;
    height: 30px;
}
.radio label,
.checkbox label {
    padding-left: 0;
}
.datetimepicker{
	right: auto;
}
.datepicker.dropdown-menu{
    width: 207px;
}
.comment_editor{
    width: 100%;
    height: auto;
    clear: both;
    padding: 10px;
}
.relative{
    position: relative;
}
.pagination a.active {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}
.category{
	width: 150px;
}
.category-show{
	width: 70px;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.padding-none{
	padding: 0;
}
.padding-top-0{
    padding-top: 0;
}
.padding-top-5{
    padding-top: 5;
}
.padding-top-10{
	padding-top: 10px;
}
.padding-left-0{
	padding-left: 0 !important;
}
.padding-left-5{
    padding-left: 5px !important;
}
.padding-left-10{
    padding-left: 10px !important;
}
.padding-right-0{
	padding-right: 0 !important;
}
.padding-right-5{
    padding-right: 5px !important;
}
.padding-right-10{
    padding-right: 10px !important;
}
.padding-10{
	padding: 10px;
}
.margin-top-0{
	margin-top: 0px !important;
}
.margin-top-0{
    margin-top: 0px !important;
}
.margin-top-5{
    margin-top: 5px !important;
}
.margin-top-10{
	margin-top: 10px !important;
}
.margin-top-20{
    margin-top: 20px !important;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}
.margin-bottom-10{
	margin-bottom: 10px !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.margin-right-20{
	margin-right: 20px !important;
}
@media only screen and (max-width:480px)
{
.ibox-content .form-group{
	padding-left: 0;
	padding-right: 0;
}
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .ibox-content{
        padding: 0;
    }
    .ibox-content .from,
    .ibox-content .to
    {
        width: 50%;
    }
    .ibox-content .from
    {
        float: left;
    }
    .ibox-content .to
    {
        float: right;
    }
    #page-wrapper {
        padding: 0;
    }
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 130px 30px  0mm;  /* this affects the margin in the printer settings */
    }
}