<span style='color: #000'>89 frames</span>	<span style='color: #900'>9,984 KB</span>	<span style='color: #090'>5,189.30 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />